body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:aqua;
  background-color: black;
}

a {
  color: inherit;
}

svg {
  display: block;
  max-width: 100%;
  filter:
  drop-shadow(1rem 0 3rem red);
  
}


/* react-select */

.react-select-container {
  color: white;
}

.react-select__control {
  background-color: black !important;

}
.react-select__value-container {

}
.react-select__input-container {
}
.react-select__input {
}
.react-select__single-value {
  color: white !important;

}
.react-select__indicators {

}
.react-select__menu {
  border: 1px solid red;

}
.react-select__menu-list {
  background-color: black;

}
.react-select__option:hover {

  background-color: pink;
  color: blue;

}
.react-select__control--is-focused {
  border: 3px solid green !important;
}